<?php
/** @var \Task\Test\Block\CategoriesBlock $block */
?>

<?php
    $blockTitle = $block->getTitleBlock();
    if($blockTitle) {
?>
    <h1 class="block_title">
        <?php echo $block->getTitleBlock(); ?>
    </h1>
<?php } ?>

<?php
    $arr = $block->getCategories();
    $i = 1;
?>

<div class="tile-wrapper">
    <div class="tile-container">
        <?php
        $arr = $block->getCategories();
        $i = 1;
        foreach ($arr as $value) { ?>
            <div class="tile" id="img<?php echo $i; ?>">
                <img class="desktopImage" src="/pub/media/catalog/category/<?php echo $value['category_image_desktop']; ?>" alt="image">
                <div class="textCategory"><?php echo $value['name']; ?></div>
            </div>
            <div class="mobile">
                <div class="textCategoryMobile"><?php echo $value['name']; ?></div>
                <img class="mobileImage" src="/pub/media/catalog/category/<?php echo $value['category_image_mobile']; ?>" alt="image">
            </div>
            <?php  ($i == 7) ? $i = 1 : $i++; } ?>
    </div>
</div>
