.desktopImage {
  width: 100%;
  height: 100%;
}

.mobileImage {
  height: 300px;
}

.mobile {
  border: 1px solid black;
  display: none;
}

.textCategory {
  position: absolute;
  top: 8px;
  left: 16px;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktopImage {
    display: none;
  }
  .textCategory {
    display: none;
  }
}

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  .tile-wrapper {
    display: block;
    position: relative;
    width: 100%;
  }
  .tile-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .tile {
    display: inline-block;
    border: 1px solid black;
    height: 312px;
    position: relative;
  }

  #img1 {
    flex: 0 0 50%;
  }
  #img2 {
    flex: 0 0 50%;
  }
  #img3 {
    flex: 0 0 50%;
  }
  #img4 {
    flex: 0 0 25%;
  }
  #img5 {
    flex: 0 0 25%;
  }
  #img6 {
    flex: 0 0 50%;
  }
  #img7 {
    flex: 0 0 50%;
  }
}




